.container{
  
  display: grid;
  grid-template-rows: 1fr; 
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://images.pexels.com/photos/957061/milky-way-starry-sky-night-sky-star-957061.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
  color: white;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);
}

@media (max-width:820px){
  .container{
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
}

